<!DOCTYPE html>
<html lang="en">
<head>
    <link href="views/styles.css" rel="stylesheet">




<body>
    <section>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="images/modular-pm.jpeg" alt="" width="700" height="330">
    <!--<h1 class="display-5 fw-bold">Centered Picture</h1>-->
    <h1 class="display-5 fw-bold">Salton Sea Air Quality Monitoring</h1>
    <div class="col-lg-6 mx-auto">
      <!--<p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins. Note from Harrison: this template is from https://getbootstrap.com/docs/5.1/examples/heroes/</p>-->
      <p class="lead mb-4">Welcome, this is our currently in-progress site for the monitoring of the 50 air quality monitors Porter's team has set up around the Salton Sea</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <!-- Add the button with the ID 'viewMapButton' -->
                    <button id="viewMapButton" type="button" class="btn btn-primary btn-lg px-4 gap-3">View Map</button>
                    <button id="viewDataButton" type="button" class="btn btn-outline-secondary btn-lg px-4">View Data</button>
                    <button id="researcherloginbutton" type="button" class="btn btn-outline-secondary btn-lg px-4">Researcher Login</button>

                    <!-- Add the Data Analysis Testing button -->
                    <button id="dataAnalysisTestingButton" type="button" class="btn btn-outline-secondary btn-lg px-4">Data Analysis Testing</button>
      </div>
    </div>
  </div>
</section>
    

    <script src="/js/homeScript.js"></script>
</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('viewMapButton').addEventListener('click', function () {
      window.location.href = '/map';
    });
    //handles click of the View Data button (currently has no functionality)
    document.getElementById('viewDataButton').addEventListener('click', function() {
    window.location.href = '/work-in-progress';
    });
  });

    //handles click of the Data Analysis Testing button
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('dataAnalysisTestingButton').addEventListener('click', function () {
        window.location.href = '/data-analysis-testing';
    });
  });

  document.addEventListener('DOMContentLoaded',function () {
    document.getElementById('researcherloginbutton').addEventListener('click', function () {
      window.location.href = '/rlogin';
    });
  })
</script>
    
    <script src="routes/scripts.js"></script>
</body>

</head>