<!DOCTYPE html>
<html lang="en", class = "loginBackground">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

  <script>
    //{{!-- use this script to load the already invited users --}}
  </script>
  <body>
    <div>
      {{!-- this box is for the viewing the already invited users --}}
    </div>
    <div>
      <form id="invite" action="/invite" method="POST">
        <input name="email" class="email"placeholder="Enter Email of Researcher">
        <button type="submit" id = "submit" class="jbtn">Submit</button> 
      </form>
    </div>
    <script>
    </script>
  </body>
</html>

