<!DOCTYPE html>
<html lang="en"> <!-- this file is essentially a template that all the other handlebars (hbs) pages build off -->
  <body>
    <h1 class= "display-5 fw-bold">
        
    </h1>
    <div class="dif">
        <p class = "display-5 fw-bold"> Researcher Login </p>
        <div class = "et">
            
            <input class = "temp" name="userName" placeholder="Enter UserName here"/>
            <div class = "temp">
                <input name="Password" placeholder="Enter PasswordHere" type="password"/>
            </div>
            <div>
                <button id = "submit",type="button" class="burt">Submit</button>
            </div>
            <script>
                //{{!-- test ID: pyTest Password: 1234 currently no hashing yet. --}}
                const { MongoClient, ServerApiVersion } = require('mongodb');
                import user from './models/user'
                document.getElementById("submit").addEventListener("click", function () {
                  const client = new MongoClient(process.env.DATABASE_URL, {
                  serverApi: {
                    version: ServerApiVersion.v1,
                    strict: true,
                    deprecationErrors: true,
                  }
                  });
                  await client.connect();
                  //{{!-- c = client.db("SSProject").collection("UserName Passwords") --}}
                  const testUser = await user.create({
                    username:"pyTest",
                    password:"1234",
                    dateofEntry:date.now()
                  })

                  const user = c.findOne({username: document.getElementById("userName").value})
                  if(user){
                    if(user.password == document.getElementById("Password")){
                      window.location.href = '/test'
                    }
                  }
                  
                  //{{!-- get password and username here. --}}
                  //{{!-- check whether or not it exists --}}
                  //{{!-- check is password is correct --}}
                  {{!-- window.location.href = '/test' --}}
                })
            </script>
        </div>
    </div>
  </body>
</html>

