<!DOCTYPE html>
<html lang="en"> <!-- this file is essentially a template that all the other handlebars (hbs) pages build off -->
  <body>
    <div class="dif">
        <p class = "display-5 fw-bold"> Researcher Login </p>
        <form action="/rlogin" method="POST" id="login-form">
        <script>
          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          const error = urlParams.get('error');
          window.addEventListener('load',function() {
            var psd_msg = document.getElementById('incorrect_password');
            var username_msg = document.getElementById('incorrect_username');
            var lgn_msg = document.getElementById('ngl');
            lgn_msg.style.visibility = "hidden";
            psd_msg.style.visibility = "hidden";
            username_msg.style.visibility = "hidden";
            if(error.includes("ngl")){
              lgn_msg.style.visibility = "visible";
              lgn_msg.innerHTML = "<span style=color:red> Must be logged in to view this sight</span>"
            }
            if(error.includes("usr1")){
              username_msg.style.visibility = "visible";
              username_msg.innerHTML = "<span style=color:red>Username does not exist</span>";
            }
            if(error.includes("pw1")){
              psd_msg.style.visibility = "visible";
              psd_msg.innerHTML = "<span style=color:red>Password does not match</span>";
            }
          })
        </script>

          <p id = "ngl", name = "ngl"></p>
          <div class="form-group">   
                <label for="username">username</label>
                <input class="form-control" id="username" type="username" name="username" placeholder="Enter username"/><br>
                <p id = "incorrect_username", name = "incorrect_username"></p>
          </div>
          <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="Enter Password">
                <p id ="incorrect_password", name = "incorrect_password"></p>
          </div>
          <div>
            <button type="submit" id = "submit" class="btn btn-primary">Submit</button> 
          </div>
        </form>
    </div>
  </body>
</html>

