<!doctype html>
<html lang="en">

    <head>
        <title>Success Page</title>
    </head>

    <body>
        
        <div class="container p-3 text-center">
            <h1>Success!</h1>
            <p>Welcome! You have successfully logged in with monitor: {{ monitorId }}</p>

            <p>AQI: {{ aqi }}</p>
                    {{#if aqi}}
            {{#if aqi '<' 100}}
                <p>You have wonderful air quality!</p>
            {{else}}
                <p>Your air quality ain't looking so good. How are you breathing?</p>
            {{/if}}
        {{/if}}


            <img class="img-fluid mb-4" src = {{img_src}} alt = "Data Visualization" >
      </div>

    </body>
</html>