<!DOCTYPE html>
<html>
<head>
    <title>Success Page</title>
</head>
<body>
    <h1>Success Page</h1>
    <table>
        <thead>
            <tr>
                <th>Monitor ID</th>
                <th>AQI Value</th>
            </tr>
        </thead>
        <tbody>
            {{#each aqiData}}
            <tr>
                <td>{{this.monitorId}}</td>
                <td>{{this.aqiValue}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
