<!DOCTYPE html>
<html lang="en">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Column 1</th>
        <th scope="col">Column 2</th>
        <th scope="col">Column 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Data1</td>
        <td>Data2</td>
        <td>Data3</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Data1</td>
        <td>Data2</td>
        <td>Data3</td>
      </tr>
      <tr>
        <th scope="row">Data1</th>
        <td colspan="2">Data2</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</html>