body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#f5f5f5;
  margin: 0;
}

.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: rgb(183, 204, 220);
}

.navbar-text {
  display: none;
}
#table .navbar-text {
  display: show;
}


.loginTitle{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: 50px;
}
.jbtn{
  width: 100px;
  border:none;
  background-color:chocolate;
}
.loginBackground{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(0,212,255,1) 100%);
}
.d1{
  margin-left: 200px;
}
.corner{
  width: 500px;
  margin:10px;
}
.claln{
  width:500px;
  margin: auto;
}

.burt{
  border: 5px transparent;
  background-color: gray;
  margin: 5px;
  width:285px;
  margin-left: 100px;
  
}
.text-align-center {
  text-align: center;
}